## Testing Heavy Opearations on Spark

- As we understood basics of spark in the "Spark Basics" notebook
- Lets no look at an example and observe how spark is actually working.

In [2]:
# Importing Spark
from pyspark.sql import SparkSession

# Creating a spark session
spark = SparkSession.builder \
        .appName("Heavy Testing") \
        .getOrCreate()

# Creating SparkContext
sc = spark.sparkContext

print(sc.version)

3.5.5

In [18]:
# Lets create a RDD of 10 million numbers

df = spark.read.json("C:\\Users\\imdig\\Desktop\\Kaggle Datasets\\Yelp Data\\yelp_academic_dataset_review.json")

# Performing the actual heavy operation

df2 = df.select("user_id","business_id","stars","date") \
        .filter(df.stars >=4) \
        .groupBy("business_id") \
        .count() \
        .orderBy("count",ascending = False)

df2.show(10, truncate = False)

+----------------------+-----+
|business_id           |count|
+----------------------+-----+
|_ab50qdWOk0DdB6XOrBitw|5982 |
|ac1AeYqs8Z4_e2X5M3if2A|5865 |
|GXFMD0Z4jEVZBCsbPf4CTQ|5425 |
|ytynqOUb3hjKeJfRj5Tshw|5380 |
|oBNrLz4EDhiscSlbOl8uAw|4369 |
|_C7QiQQc47AOEv4PE3Kong|4008 |
|GBTPC53ZrG1ZBY3DT8Mbcw|3726 |
|I_3LMZ_1m2mzR0oLIOePIg|3575 |
|6a4gLLFSgr-Q6CZXDLzBGQ|3567 |
|gTC8IQ_i8zXytWSly3Ttvg|3538 |
+----------------------+-----+
only showing top 10 rows

In [19]:
spark.stop()